{% include 'commons/header.twig' %}
{% include 'templates/page_header_simple.twig' %}

<div class="content">
    <div class="container">
        <h1>404 Page not found</h1>
        <h4>Sorry,but this page is not available</h4>
    </div>
</div>
</body>
</html