{% include 'commons/header.twig' %}
{% include 'templates/page_header_simple.twig' %}

<div class="content">
    <div class="container">
        <div class="row">
            <h2>Зміна паролю</h2>
        </div>
        <div class="row">
            <form method="post" action="{{ url('password_change_confirm') }}">
                <input  style="display: none" value="{{ confirmString|default('') }}" name="confirm_string">
                <div class="form-group">
                    <label for="newPasswordInput">Пароль:</label>
                    <input type="password" name="password" placeholder="введіть пароль" class="form-control" id="newPasswordInput">
                    <span class="help-block" id="passwordMsg"></span>
                </div>
                <div class="form-group">
                    <label for="newPasswordInputAgain">Повторіть пароль</label>
                    <input type="password" name="pass_repeat" placeholder="повторіть пароль" class="form-control" id="newPasswordInputAgain">
                    <span class="help-block" id="passwordMsgAgain"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" id="submitNewPasswordBtn" disabled>Підтвердити</button>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="/js/compiled/changePassword.js"> </script>
</body>
</html