<div class="modal fade" tabindex="-1" role="dialog"  id="createdUserShowModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Створено нового користувача</h4>
            </div>
            <div class="modal-body">
                <table class="table no-borders">
                    <tr>
                        <th>Логін:</th>
                        <th id="newUserLogin"></th>
                    </tr>
                    <tr class="border-bottom-light">
                        <th>Пароль:</th>
                        <th id="newUserPassword"></th>
                    </tr>
                    <tr>
                        <td>Ім'я:</td>
                        <td id="newUserFullName"></td>
                    </tr>
                    <tr>
                        <td>Електронна пошта:</td>
                        <td id="newUserEmail"></td>
                    </tr>
                    <tr>
                        <td>Роль:</td>
                        <td id="newUserRole"></td>
                    </tr>
                    <tr>
                        <td>Факультет:</td>
                        <td id="newUserFaculty"></td>
                    </tr>
                    <tr style="display: none">
                        <td>Кафедра</td>
                        <td id="newUserDepartment"></td>
                    </tr>
                    <tr style="display: none">
                        <td>Спеціальність:</td>
                        <td id="newUserSpeciality"></td>
                    </tr>
                    <tr style="display: none">
                        <td>Курс:</td>
                        <td id="newUserCourse"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Ок</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
